@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 antialiased font-sans transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
